---
layout: default
---

<div class="quote"> {% include book-quotes/artemis-fowl.html %} </div>
<div class="quote"> {% include book-quotes/catching-fire.html %} </div>
<div class="quote"> {% include book-quotes/nacierema.html %} </div>
<div class="quote"> {% include book-quotes/percy-jackson-series.html %} </div>
<div class="quote"> {% include book-quotes/sociology-a-global-perspective.html %} </div>
<div class="quote"> {% include book-quotes/the-bad-beginning.html %} </div>
<div class="quote"> {% include book-quotes/the-hobbit.html %} </div>
<div class="quote"> {% include book-quotes/the-warp-series.html %} </div>
<div class="quote"> {% include book-quotes/the-way-of-kings.html %} </div>
<div class="quote"> {% include book-quotes/the-wish-list.html %} </div>