---
layout: default
---

<div class="quote"> {% include tv-quotes/24.html %} </div>
<div class="quote"> {% include tv-quotes/arrested-development.html %} </div>
<div class="quote"> {% include tv-quotes/band-of-brothers.html %} </div>
<div class="quote"> {% include tv-quotes/bates-motel.html %} </div>
<div class="quote"> {% include tv-quotes/breaking-bad.html %} </div>
<div class="quote"> {% include tv-quotes/daredevil.html %} </div>
<div class="quote"> {% include tv-quotes/hemlock-grove.html %} </div>
<div class="quote"> {% include tv-quotes/house-of-cards.html %} </div>
<div class="quote"> {% include tv-quotes/lie-to-me.html %} </div>
<div class="quote"> {% include tv-quotes/numbers.html %} </div>
<div class="quote"> {% include tv-quotes/once-upon-a-time.html %} </div>
<div class="quote"> {% include tv-quotes/parks-and-recreation.html %} </div>
<div class="quote"> {% include tv-quotes/prison-break.html %} </div>
<div class="quote"> {% include tv-quotes/psych.html %} </div>
<div class="quote"> {% include tv-quotes/sense8.html %} </div>
<div class="quote"> {% include tv-quotes/skins.html %} </div>
<div class="quote"> {% include tv-quotes/the-league.html %} </div>
<div class="quote"> {% include tv-quotes/the-office.html %} </div>
<div class="quote"> {% include tv-quotes/zach-stone.html %} </div>