---
layout: default
---

<div class="quote"> {% include people-quotes/abraham-lincoln.html %} </div>
<div class="quote"> {% include people-quotes/adolf-hitler.html %} </div>
<div class="quote"> {% include people-quotes/albert-einstein.html %} </div>
<div class="quote"> {% include people-quotes/anne-baxter.html %} </div>
<div class="quote"> {% include people-quotes/antoine-de-saint-exupery.html %} </div>
<div class="quote"> {% include people-quotes/apple.html %} </div>
<div class="quote"> {% include people-quotes/bankei.html %} </div>
<div class="quote"> {% include people-quotes/ben-franklin.html %} </div>
<div class="quote"> {% include people-quotes/bruce-lee.html %} </div>
<div class="quote"> {% include people-quotes/buddha.html %} </div>
<div class="quote"> {% include people-quotes/cs-lewis.html %} </div>
<div class="quote"> {% include people-quotes/calvin-and-hobbes.html %} </div>
<div class="quote"> {% include people-quotes/canada-bill-jones.html %} </div>
<div class="quote"> {% include people-quotes/cary-grant.html %} </div>
<div class="quote"> {% include people-quotes/charles-lamb.html %} </div>
<div class="quote"> {% include people-quotes/confucius.html %} </div>
<div class="quote"> {% include people-quotes/colin-mcrae.html %} </div>
<div class="quote"> {% include people-quotes/david-viscott.html %} </div>

<p class="top"><a href="#Top">Top</a></p>

<div class="quote"> {% include people-quotes/dr-seuss.html %} </div>
<div class="quote"> {% include people-quotes/e-m-forster.html %} </div>
<div class="quote"> {% include people-quotes/epictetus.html %} </div>
<div class="quote"> {% include people-quotes/frank-ocean.html %} </div>
<div class="quote"> {% include people-quotes/frank-zappa.html %} </div>
<div class="quote"> {% include people-quotes/frederick-faber.html %} </div>
<div class="quote"> {% include people-quotes/gk-chesterton.html %} </div>
<div class="quote"> {% include people-quotes/george-bernard-shaw.html %} </div>
<div class="quote"> {% include people-quotes/george-carlin.html %} </div>
<div class="quote"> {% include people-quotes/george-rr-martin.html %} </div>
<div class="quote"> {% include people-quotes/george-s-patton.html %} </div>
<div class="quote"> {% include people-quotes/gilbert-parker.html %} </div>
<div class="quote"> {% include people-quotes/greek-proverb.html %} </div>
<div class="quote"> {% include people-quotes/groucho-marx.html %} </div>
<div class="quote"> {% include people-quotes/h-jackson-brown.html %} </div>
<div class="quote"> {% include people-quotes/henri-louis-bergson.html %} </div>

<p class="top"><a href="#Top">Top</a></p>

<div class="quote"> {% include people-quotes/henry-david-thoreau.html %} </div>
<div class="quote"> {% include people-quotes/henry-ford.html %} </div>
<div class="quote"> {% include people-quotes/henry-miller.html %} </div>
<div class="quote"> {% include people-quotes/jim-woodring.html %} </div>
<div class="quote"> {% include people-quotes/joel-osteen.html %} </div>
<div class="quote"> {% include people-quotes/joseph-campbell.html %} </div>
<div class="quote"> {% include people-quotes/joseph-stalin.html %} </div>
<div class="quote"> {% include people-quotes/lao-tzu.html %} </div>
<div class="quote"> {% include people-quotes/layman-pang.html %} </div>
<div class="quote"> {% include people-quotes/linus-torvalds.html %} </div>
<div class="quote"> {% include people-quotes/lewis-carroll.html %} </div>
<div class="quote"> {% include people-quotes/lord-alfred-tennyson.html %} </div>
<div class="quote"> {% include people-quotes/louis-brandeis.html %} </div>
<div class="quote"> {% include people-quotes/luis-bunuel.html %} </div>
<div class="quote"> {% include people-quotes/maria-robinson.html %} </div>
<div class="quote"> {% include people-quotes/mark-twain.html %} </div>
<div class="quote"> {% include people-quotes/martin-luther-king-jr.html %} </div>

<p class="top"><a href="#Top">Top</a></p>

<div class="quote"> {% include people-quotes/martin-niemoller.html %} </div>
<div class="quote"> {% include people-quotes/michelangelo.html %} </div>
<div class="quote"> {% include people-quotes/mohandas-gandhi.html %} </div>
<div class="quote"> {% include people-quotes/nikos-kazantzakis.html %} </div>
<div class="quote"> {% include people-quotes/oscar-wilde.html %} </div>
<div class="quote"> {% include people-quotes/otto-von-bismarck.html %} </div>
<div class="quote"> {% include people-quotes/paulo-coelho.html %} </div>
<div class="quote"> {% include people-quotes/pierre-joseph-proudhon.html %} </div>
<div class="quote"> {% include people-quotes/plato.html %} </div>
<div class="quote"> {% include people-quotes/rh-blyth.html %} </div>
<div class="quote"> {% include people-quotes/ralph-waldo-emerson.html %} </div>
<div class="quote"> {% include people-quotes/rinzai.html %} </div>
<div class="quote"> {% include people-quotes/robert-frost.html %} </div>
<div class="quote"> {% include people-quotes/ron-paul.html %} </div>
<div class="quote"> {% include people-quotes/ronald-reagan.html %} </div>
<div class="quote"> {% include people-quotes/salman-khan.html %} </div>
<div class="quote"> {% include people-quotes/shunru-suzuki.html %} </div>

<p class="top"><a href="#Top">Top</a></p>

<div class="quote"> {% include people-quotes/st-augustine.html %} </div>
<div class="quote"> {% include people-quotes/steve-furtick.html %} </div>
<div class="quote"> {% include people-quotes/thomas-carlyle.html %} </div>
<div class="quote"> {% include people-quotes/thomas-jefferson.html %} </div>
<div class="quote"> {% include people-quotes/troy-polamalu.html %} </div>
<div class="quote"> {% include people-quotes/voltaire.html %} </div>
<div class="quote"> {% include people-quotes/wendell-phillips.html %} </div>
<div class="quote"> {% include people-quotes/william-feather.html %} </div>
<div class="quote"> {% include people-quotes/william-james.html %} </div>
<div class="quote"> {% include people-quotes/william-r-inge.html %} </div>
<div class="quote"> {% include people-quotes/wilson-mizner.html %} </div>
<div class="quote"> {% include people-quotes/winston-churchill.html %} </div>
<div class="quote"> {% include people-quotes/zig-ziglar.html %} </div>

<p class="top"><a href="#Top">Top</a></p>

<div class="quote"> {% include people-quotes/messiahcomplex.html %} </div>
<div class="quote"> {% include people-quotes/tek9.html %} </div>
<div class="quote"> {% include people-quotes/esuba.html %} </div>
<div class="quote"> {% include people-quotes/forcesc2strategy.html %} </div>
<div class="quote"> {% include people-quotes/peter-sunde.html %} </div>
<div class="quote"> {% include people-quotes/dad.html %} </div>
<div class="quote"> {% include people-quotes/curtis.html %} </div>
<div class="quote"> {% include people-quotes/brandon.html %} </div>
<div class="quote"> {% include people-quotes/sean.html %} </div>
<div class="quote"> {% include people-quotes/mr-hoye.html %} </div>
<div class="quote"> {% include people-quotes/kenny.html %} </div>
<div class="quote"> {% include people-quotes/john.html %} </div>
<div class="quote"> {% include people-quotes/colin.html %} </div>
<div class="quote"> {% include people-quotes/greg.html %} </div>
<div class="quote"> {% include people-quotes/myself.html %} </div>

<p class="top"><a href="#Top">Top</a></p>