---
layout: default
---

<div class="quote"> {% include movie-quotes/10-things-i-hate-about-you.html %} </div>
<div class="quote"> {% include movie-quotes/12-angry-men.html %} </div>
<div class="quote"> {% include movie-quotes/16-blocks.html %} </div>
<div class="quote"> {% include movie-quotes/21.html %} </div>
<div class="quote"> {% include movie-quotes/avengers-endgame.html %} </div>
<div class="quote"> {% include movie-quotes/batman-begins.html %} </div>

<p class="top"><a href="#Top">Top</a></p>

<div class="quote"> {% include movie-quotes/batman-the-dark-knight.html %} </div>
<div class="quote"> {% include movie-quotes/batman-the-dark-knight-rises.html %} </div>
<div class="quote"> {% include movie-quotes/boondock-saints.html %} </div>
<div class="quote"> {% include movie-quotes/the-bourne-identity.html %} </div>
<div class="quote"> {% include movie-quotes/the-bourne-supremacy.html %} </div>
<div class="quote"> {% include movie-quotes/breath-in.html %} </div>
<div class="quote"> {% include movie-quotes/brick.html %} </div>
<div class="quote"> {% include movie-quotes/brothers.html %} </div>
<div class="quote"> {% include movie-quotes/captain-america-winter-soldier.html %} </div>
<div class="quote"> {% include movie-quotes/catch-me-if-you-can.html %} </div>
<div class="quote"> {% include movie-quotes/click.html %} </div>
<div class="quote"> {% include movie-quotes/crazy-stupid-love.html %} </div>

<p class="top"><a href="#Top">Top</a></p>

<div class="quote"> {% include movie-quotes/drive.html %} </div>
<div class="quote"> {% include movie-quotes/easy-a.html %} </div>
<div class="quote"> {% include movie-quotes/elysium.html %} </div>
<div class="quote"> {% include movie-quotes/five-minutes-of-heaven.html %} </div>
<div class="quote"> {% include movie-quotes/goon.html %} </div>
<div class="quote"> {% include movie-quotes/harry-potter.html %} </div>
<div class="quote"> {% include movie-quotes/heartless.html %} </div>
<div class="quote"> {% include movie-quotes/hocus-pocus.html %} </div>
<div class="quote"> {% include movie-quotes/horns.html %} </div>
<div class="quote"> {% include movie-quotes/how-the-grinch-stole-christmas.html %} </div>
<div class="quote"> {% include movie-quotes/howls-moving-castle.html %} </div>
<div class="quote"> {% include movie-quotes/inception.html %} </div>

<p class="top"><a href="#Top">Top</a></p>

<div class="quote"> {% include movie-quotes/inside-man.html %} </div>
<div class="quote"> {% include movie-quotes/ipman.html %} </div>
<div class="quote"> {% include movie-quotes/its-a-wonderful-life.html %} </div>
<div class="quote"> {% include movie-quotes/kiss-kiss-bang-bang.html %} </div>
<div class="quote"> {% include movie-quotes/love-actually.html %} </div>
<div class="quote"> {% include movie-quotes/memento.html %} </div>
<div class="quote"> {% include movie-quotes/men-in-black-3.html %} </div>
<div class="quote"> {% include movie-quotes/mr-nobody.html %} </div>
<div class="quote"> {% include movie-quotes/pulp-fiction.html %} </div>
<div class="quote"> {% include movie-quotes/room.html %} </div>
<div class="quote"> {% include movie-quotes/rush.html %} </div>

<p class="top"><a href="#Top">Top</a></p>

<div class="quote"> {% include movie-quotes/saw.html %} </div>
<div class="quote"> {% include movie-quotes/school-of-life.html %} </div>
<div class="quote"> {% include movie-quotes/seven-pounds.html %} </div>
<div class="quote"> {% include movie-quotes/sin-city.html %} </div>
<div class="quote"> {% include movie-quotes/spider-man.html %} </div>
<div class="quote"> {% include movie-quotes/the-matrix.html %} </div>

<p class="top"><a href="#Top">Top</a></p>

<div class="quote"> {% include movie-quotes/the-prestige.html %} </div>
<div class="quote"> {% include movie-quotes/the-santa-clause.html %} </div>
<div class="quote"> {% include movie-quotes/tenet.html %} </div>
<div class="quote"> {% include movie-quotes/the-traveler.html %} </div>
<div class="quote"> {% include movie-quotes/two-lies.html %} </div>
<div class="quote"> {% include movie-quotes/up.html %} </div>
<div class="quote"> {% include movie-quotes/warrior.html %} </div>

<p class="top"><a href="#Top">Top</a></p>
