---
layout: default
---

<div class="quote"> {% include music-quotes/blink-182.html %} </div>
<div class="quote"> {% include music-quotes/bo-burnham.html %} </div>
<div class="quote"> {% include music-quotes/chronic-future.html %} </div>
<div class="quote"> {% include music-quotes/coldplay.html %} </div>
<div class="quote"> {% include music-quotes/drake.html %} </div>
<div class="quote"> {% include music-quotes/ellie-goulding.html %} </div>
<div class="quote"> {% include music-quotes/eminem.html %} </div>
<div class="quote"> {% include music-quotes/example.html %} </div>
<div class="quote"> {% include music-quotes/flipsyde.html %} </div>

<p class="top">
    <a href="#">Top</a>
</p>

<div class="quote"> {% include music-quotes/fort-minor.html %} </div>
<div class="quote"> {% include music-quotes/fountains-of-wayne.html %} </div>
<div class="quote"> {% include music-quotes/linkin-park.html %} </div>
<div class="quote"> {% include music-quotes/lostprophets.html %} </div>
<div class="quote"> {% include music-quotes/mumford-and-sons.html %} </div>
<div class="quote"> {% include music-quotes/one-republic.html %} </div>
<div class="quote"> {% include music-quotes/tewenty-one-pilots.html %} </div>
<div class="quote"> {% include music-quotes/yellowcard.html %} </div>

<p class="top">
    <a href="#">Top</a>
</p>