<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="assets/css/styles.css">
  </head>
  <body>
    {% include navigation.html %}
    <br>
    {% include banner.html %}
    <div id="wrapper">
      <div id="page">
        <div id="content">
          <div class="post">
            {{ content }}
          </div>
        </div>
        <div id="wrapper-sidebar">
          <div class="sidebar">

            {% if page.url contains "/quotes_" %}
            <div class="right-float">
              {% include sidebar.html %}
            </div>
            {% else %}
              {% include sidebar.html %}
            {% endif %}

          </div>
        </div>

        {% if page.url contains "/quotes_" %}
        <div id="top-button">
          <a href="#Top">
            <img src="/assets/images/arrow-up.png">
          </a>
        </div>
        {% endif %}

      </div>
  </div>
    {% include footer.html %}    
  </body>
</html>